# Игнорировать всё
*

# Кроме папок (чтобы git мог заходить внутрь)
!*/

# Кроме исходников, файлов сборки, отчёта и рисунков
!*.cpp
!*.hpp
!CMakeLists.txt
!*.tex
!*.pdf
!*.png
!*.py
!lab1/report/scenarios/*.txt
!.gitignore
